<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docs</title>
    <link href="/static/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>

    <div class="popup">
        <p>No status codes.
            Super unreliable service guaranteed!
        </p>
    </div>

    <section class="page-wrapper">
        <a href="/">Back to home</a>
        <h1>API Documentation 🤓</h1>
        <%= description %>
        <hr>
        <%- html %>
    </section>

</body>
</html>